@model CatalogViewModel

@*

*@

@{
    <div class="container">
        <div class="card">
            
            <div class="card-header">@Model.Id</div>
            <div class="card-body">@Model.Name</div>

        </div>
    </div>
}